{% extends "interface/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'interface/css/valid_form.css'%}" type="text/css">
<div class="BoxMaster">
<div class="container py-5">
	<h1>Регистрация</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form.as_p }}
		<p class="text-center">Если у вас уже есть аккаунт, <a href="/login">login</a>
			<br>
		<button class="btn btn-primary" type="submit">Добавить</button>
		<button class="btn btn-primary" type="reset">Очистить</button>
	</form>
	 </p>
</div>
	<div class="pusher"></div>
</div>
{% endblock %}