{% extends 'interface/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'interface/css/turn_assert.css'%}" type="text/css">
<div class="BoxMaster">
<h1>Таблица рейтингов</h1>


<ul>
{% for i in submenu %}
        <li><button class="a_button"> <a href="{%url i.url_name%}">{{i.title}}</a></button></li>
{% endfor %}
</ul>
<br>
{% for i in submenu2 %}
        <button class="a_button"> <a href="{%url i.url_name%}">{{i.title}}</a></button>
{% endfor %}


<table >
    <tr>
        <th>Детали/методы</th>
       {%for i in methods%}
<th>{{i}}</th>
        {%endfor%}
        <th>сумма</th>
    </tr>
{%for i,j in rdata.items%}
    <tr>
        <td>Деталь - {{i}}</td>
        {%for m,n in j.items%}
        <td>{{n}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>

<form action="{%url 'result'%}">
<button class="input_button" >Меня всё устраивает, Поехали дальше.</button>
</form>
    <div class="pusher"></div>
    </div>
{% endblock %}